<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<context-param>
		<param-name>school</param-name>
		<param-value>FC</param-value>
	</context-param>

	<servlet>
		<servlet-name>Student</servlet-name>
		<servlet-class>servlet_jdbc_Student.StudentController</servlet-class>
		<init-param>
		<param-name>OneShot</param-name>
		<param-value>100000</param-value>
		</init-param>
		<init-param>
		<param-name>Installment</param-name>
		<param-value>150000</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>Student</servlet-name>
		<url-pattern>/save</url-pattern>
	</servlet-mapping>
</web-app>
